<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.ysu.itrace.PerspectiveFactory"
            id="edu.ysu.itrace.perspectivefactory"
            name="itrace">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.ysu.itrace.perspectivefactory">
            <actionSet id="org.eclipse.wst.server.ui.internal.webbrowser.actionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.ysu.itrace.ControlView"
            id="edu.ysu.itrace.controlview"
            name="itrace controller"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.ysu.onionuml.ui.ModelViewer"
            contributorClass="edu.ysu.onionuml.ui.ModelViewerActionBarContributor"
            default="false"
            extensions="cml"
            id="edu.ysu.onionuml.ui.modelviewer"
            name="UML Model Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ysu.itrace.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.ysu.itrace.preferences.PluginPreferences"
            id="edu.ysu.itrace.preferences.PluginPreferences"
            name="iTrace">
      </page>
   </extension>

</plugin>
